
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<footer th:fragment="siteFooter" class="footer">
    <div class="footer-content">
        <p>© 2026 Eternal Bouquet. All rights reserved.</p>

        <div class="social-links">
            <a href="https://www.instagram.com/eternalbouquetbg"
               target="_blank"
               class="instagram-link">
                <img src="/images/instagram.png" alt="Instagram" class="insta-icon">
                eternalbouquetbg
            </a>
        </div>
    </div>
</footer>
</body>
</html>
