
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head><meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Eternal Bouquet</title></head>
<body>

<div th:replace="fragments/header :: siteHeader"></div>

<div class="container">
    <h1>Welcome to Eternal Bouquet 🌷</h1>
    <p>The most beautiful bouquets for every occasion</p>
</div>

<div class="products">

    <div class="card bouquet-details-card" th:each="bouquet : ${bouquets}">

        <img th:src="${bouquet.imageUrl}" alt="Bouquet">

        <div class="card-content">
            <h3>
                <a th:href="@{/bouquets/{id}(id=${bouquet.id})}" th:text="${bouquet.name}"></a>
            </h3>

            <p class="price" th:text="${bouquet.price + ' €'}"></p>

            <div class="button-group">
                <form th:action="@{/cart/add/{id}(id=${bouquet.id})}" method="post">
                    <button class="buy-btn" type="submit">
                        Add to cart
                    </button>
                </form>

                <form th:action="@{/favorites/add/{id}(id=${bouquet.id})}" method="post">
                    <button class="favorite-btn" type="submit">
                        ❤
                    </button>
                </form>

                <form th:if="${session.isAdmin}"
                      th:action="@{/bouquets/edit/{id}(id=${bouquet.id})}"
                      method="get">
                    <button class="edit-btn" type="submit">Edit</button>
                </form>
            </div>
        </div>

    </div>

</div>
<div th:replace="fragments/footer :: siteFooter"> </div>

</body>
</html>
